
    <div #mySidebar class="sidebar" [style.width]="showMenu ? '250px' : '0'">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <a class=" username my-2 my-sm-0">{{username}}</a>
      <a class="navbar-brand" href="/game">Game</a>
              <a class="nav-link" [routerLink]="['/game']" (click)="newGame()">New Game<span class="sr-only"></span></a>
            <a class="nav-link" [routerLink]="['/user']">User<span class="sr-only"></span></a>
            <a class="nav-link" [routerLink]="['/aboutus']">About us</a>
        
        <a class="btn btn-outline-danger nav-link" type="button" (click)="logout()">Logout</a>
    </div>
    
    <div id="main" [style.width]="showMenu ? '0' : '250px'">
      <button class="openbtn" (click)="openNav()">&#9776; Menu</button>
    </div>