
.word-component{
    padding: 1%; 
}

.word{
background-color: white;
}

.letter{
    font-size: 2em;
    background-color:snow;
    display:inline-flex;
    color: blue;
    padding: 0.5%;
    margin: 0.5%;
}