<navigation></navigation>
<br>
<div class="container  edit-user">
   <div class="row">
       <div class="col-lg-4"></div>
       <div class="col-lg-4">
          Edit User Data
       </div>
       <div class="col-lg-4"></div>
   </div>
   <br><br>
       <div class="row">
        <div class="col-lg-2"></div>
           <span class="col-lg-2 label">Username:</span>
           <input class="col-lg-2" [ngModel]="username" #username type="text">
           <div class="col-lg-1"></div>
           <button class="btn btn-warning btn-sm col-lg-2" (click)="changeUsername(username.value)">Change Username</button>
           <div class="col-lg-2">
    </div>
</div>
<br>
    <br>
    
    <div class="row">
        <div class="col-lg-2"></div>
        <span class="col-lg-2 label">Password:</span>
        <input class="col-lg-2" [ngModel]="password" #password type="text" #password>
        <div class="col-lg-1"></div>
        <button class="btn btn-warning btn-sm col-lg-2" (click)="changePassword(password.value)">Change Password</button>
        <div class="col-lg-2"></div>
</div>
</div>
<br>

   <br>
   <div *ngIf="changedSuccess" class="row changed">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">Your changes has been saved successfuly</div>
    <div class="col-lg-4"></div> 
</div>
    <div *ngIf="changedFailure" class="row error">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">Something went wrong</div>
        <div class="col-lg-4"></div> 
    </div>