
<div class="container-fluid">
    <div class="row">
        <navigation class="navigation col-lg-12"></navigation>
    </div>
        <div class="row">
            <div><victim-picture class="victim-picture"></victim-picture></div>
            <div class="col col-lg-1 col-md-1 col-xs-1"></div>
            <div class="col col-lg-5 col-md-5 col-xs-5">
            <alphabet class="alphabet" (letter)="getLetter($event)"></alphabet>
        </div>
        </div>
        <div class="d-flex justify-content-center">      
            <app-word [word]="word" class="word"></app-word>
        </div>
        <div class="d-flex justify-content-center">
           <game-status class="game-status col-lg-12"></game-status>
        </div>
</div>


