
<div class="container">
    <div class="row">
        <div class="navigation col-lg-12">
            <navigation></navigation>
        </div>
        <div class="col-lg-3">
            <victim-picture class="victim-picture"></victim-picture>
        </div>
    
        <div class="col-lg-3">
            <alphabet class="alphabet"></alphabet>
        </div>
        <div class="col-lg-12">
            <app-word class="word"></app-word>
        </div>
       
   </div>
   <footer><game-status ></game-status></footer>
</div>


