
<div class="container">
    <div class="row">
        <navigation class="navigation col-lg-12"></navigation>
    </div>
        <div class="row">
            <div class="col col-lg-6 col-md-6 col-xs-6">
            <div><victim-picture [victimPicture]="victimPicture" class="col col-lg-6 col-md-6 col-xs-6"></victim-picture></div>
        </div>
            <alphabet class="alphabet" (letter)="getLetter($event)"></alphabet>
        </div>
        <div class="d-flex justify-content-center">      
            <app-word [word]="word" (joker)="getJoker()" class="word"></app-word>
        </div>      
</div>
<game-status class="d-flex justify-content-around" [lifes]="lifes" [jokers]="jokers" [scores]="scores" class="game-status col-lg-12"></game-status>
