.container {
    position: relative;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    border-color: tomato;
    border-style: dotted;
    border-radius: 100%;
    padding: 10px;
    background-color: black;
    
  }
  
  img { 
    width: 100%;
    height:auto;
    opacity: 0.2;
  }
  .center:hover{
    text-decoration: none;
    color: greenyellow;
  }